html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
header,
body {
  margin: 1.25rem auto;
  width: 300px;
  font-family: Oswald, sans-serif;
}

picture img[data-src] { 
  filter: blur(0.2em);
}  

picture img {
  filter: blur(0em);
  transition: filter 1s;
  width: 100%;
}