/*  DESIGN SPECS 
Color Palette https://coolors.co/2d4b99-e7ecef-a3cef1-519872-fc9f5b
*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

/*START OF Color scheme

<header> 	Yellow-green	#99CC33
<main> 	White	#FFFFFF
<section>	Light Grey	#F2F2F2
Text against White background	Black	#000000
Text against Yellow-green background	White	#FFFFFF
Text against Light Grey background	Dark Grey	#58524E
Accent text	Yellow-green	#99CC33
<button> (high priority)	Orange	#F16722
<button> (low priority)	Dark Grey	#424242
Low priority-colored elements	Light Olive	#CFE5AE
*/
#accentText1 {
  color: #99CC33;
}

#accentText2 {
  color: #F16722;
}

/*END OF Color scheme*/

body {
  font-size: 12px;
  line-height: 1.4;
}

header,
nav,
main,
footer,
section {
  margin: 0 auto;
  max-width: 760px;
  font-family: Tahoma, sans-serif;
}

main {
  margin-top: 2em;
}

header,
footer {
  text-align: center;
  background-color: #e7ecef;
  color: #2d4b99;
  padding: 1.5rem;
}

header {
  padding-bottom: 2em;
}

header a {
  font-size: 0.8em;
}

nav {
  /*background-color: red;*/
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
}

nav ul li a {
  display: block;
  color: #2d4b99;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  border: 1px solid lightgrey;
}

/*START OF Styling for the active page in the menu*/
.active {
  color: white;
  text-decoration-style: double;
  background-color: mediumseagreen;
}

/*END OF Styling for the active page in the menu*/

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.4rem 0 1rem 0;
  font-family: 'Dosis', Arial, sans-serif;
}

h2 {
  margin: 0.3em;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-family: 'Khand', sans-serif;
}

h3 {
  margin: 0.3em;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: 'Khand', sans-serif;
}

div {
  margin: 0 0 2em 1.2em;
  font-family: Tahoma, sans-serif;
}

.logo {
  height: 100px;
  padding: 1em;
}


/*START OF Table styling for tg1*/

.tg1 {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0.3em;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

.tg1 td {
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg1 th {
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg-col1 {
  background-color: #efefef;
  border-color: #ffffff;
  font-family: Tahoma, sans-serif;
  font-size: 1.5em;
  text-align: left;
  vertical-align: middle;
}

.tg-col2 {
  background-color: #ffffff;
  border-color: #ffffff;
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  text-align: left;
  vertical-align: middle;
}

.tg1 img {
  height: 200px;
}

/*END OF Table Styling for tg1*/

/*START OF Table styling for tg2*/

.tg2 {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0.5;
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}

.tg2 td {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg2 th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg2 .tg-row1 {
  background-color: #efefef;
  border-color: inherit;
  font-weight: bold;
  text-align: left;
  vertical-align: top
}

.tg2 .tg-row2 {
  border-color: inherit;
  text-align: left;
  vertical-align: top
}

.tg2 .tg-c1 {
  background-color: #99CC33;
}

.tg2 .tg-c2 {
  background-color: #FFFFFF;
}

.tg2 .tg-c3 {
  background-color: #e6e6e6;
}

.tg2 .tg-c4 {
  background-color: #000000;
}

.tg2 .tg-c5 {
  background-color: #FFFFFF;
}

.tg2 .tg-c6 {
  background-color: #58524E;
}

.tg2 .tg-c7 {
  background-color: #99CC33;
}

.tg2 .tg-c8 {
  background-color: #CFE5AE;
}

.tg2 .tg-c9 {
  background-color: #F16722;
}

.tg2 .tg-c10 {
  background-color: #424242;
}

/*END OF Table Styling for tg2*/

/*START OF Table styling for tg3*/
.tg3 {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px auto;
  margin: 0.5;
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}

.tg3 td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg3 th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg3 .tg3-row1 {
  background-color: #efefef;
  border-color: #9b9b9b;
  text-align: left;
  vertical-align: bottom
}

.tg3 .tg3-row2 {
  border-color: #c0c0c0;
  text-align: left;
  vertical-align: bottom
}

.tg3 .tg3-c1 {
  border-color: #c0c0c0;
  color: white;
  background-color: #99CC33;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.tg3 .tg3-c2,
.tg3 .tg3-c3,
.tg3 .tg3-c4 {
  border-color: #c0c0c0;
  color: #424242;
  font-family: 'Oswald', sans-serif;
}

.tg3 .tg3-c2 {
  font-size: 32px;
}

.tg3 .tg3-c3 {
  font-size: 27px;
}

.tg3 .tg3-c4 {
  font-size: 22px;
}

.tg3 .tg3-c5 {
  border-color: #c0c0c0;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.tg3 .tg3-c6 {
  border-color: #c0c0c0;
  color: white;
  background-color: #F16722;
  font-family: 'helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}

.tg3 .tg3-c7 {
  border-color: #c0c0c0;
  color: white;
  background-color: #99CC33;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

/*END OF Table Styling for tg3*/

footer {
  text-align: center;
  font-size: 0.7rem;
}

.coloredFooter {
  font-size: 0.6rem;
  color: #254083;
}