/*----------- GENERAL -----------*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-size: 12px;
  line-height: 1.4;
}

header{
  padding: 1.5rem;
}

header {
  max-width: 960px;  
}

header,
footer {
  background-color: #ffffff;
  color: black;
}

header nav{
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
}

/*----------- GENERAL BODY STYLING -----------*/

h1 {
  text-align: left;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 1.4rem 0 0 0;
  font-family: 'BenchNine', sans-serif;
}

h2 {
  margin: 0.2em 0 0 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: 'BenchNine', sans-serif;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0.2em;
  font-family: 'BenchNine', sans-serif;
}

h4{
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'BenchNine', sans-serif;
  margin: 0 0 1.5rem 0 ;
}

p, span, a {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  margin: .2rem 0;  
}

.ctaReservation {  
  padding: 1em;
  background-color: rgba(58, 168, 243, 0.3);  
  position: relative;
}

.ctaReservation, .ctaReservation h1{
  text-align: center;
}

.ctaReservation a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-left: .8rem;  
}

/*----------- NAVIGATION MENU -----------*/



/*nav{
  border: 1px solid rgba(0,0,0,0.3);
}
*/

.hamburguer{
  float: right;
  margin: .2rem 2%;  
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 2.1rem;
  color:#58524E;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
  overflow: hidden;
  font-family: 'BenchNine', sans-serif;
}

nav ul.hide{
  display:none;
}

nav ul li a{
  display: block;
  text-align: center; 
  padding: .8rem 2%; /*make each item bigger for easy finger tapping*/
  text-decoration: none;
  font-size: 1.6em;
  color: darkgrey;  
}

nav ul li.nav--Active a{
  color:#E73056;  
}

nav ul li a:hover {
  background-color:rgba(0,0,0,0.3);
  color: white;
}

/*----------- BODY STYLING -----------*/
.heroImage{ 
  width: 100%;
  margin: 0;  
}

/*----------- GENERAL FOOTER STYLING -----------*/
footer{
  padding: 2rem; 
}

footer, footer span, footer a {     
  font-size: 0.7rem;
  font-family: 'Dosis', sans-serif;
}

.footerBar{
  text-align: center; 
}