@media only screen and (min-width: 688px) {

/*erase this START*/
div.quote{ 
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  border: solid 1px #777777;
  background-color: #bedbed;
  color: #777777
}

.three-col{
  display: grid;
  grid-template-columns: 250px 2fr 1fr; 
  grid-gap: 40px;
  align-items: center;
}

/*erase this END*/

  /*----------- NAV MENU -----------*/
  nav {
    display: grid;
    grid-template-columns: 20% 1fr;
  }

  .hamburguer {
    display: none;
  }

  nav ul,
  nav ul.hide {
    align-items: center;
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;    
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .6rem 1%;
    font-size: 1.3em;
    /*make each item bigger for easy finger tapping*/
  }

  /*----------- TABLE STYLING -----------*/
  .tg2 {
    display: none;
  }

  .rentals{
    display: grid;
    justify-content: center;
  }

  .tg1 {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto 2rem;    
  }

  .tg1 td {
    border: 1px solid;    
    font-size: 20px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg1 th {
    border: 1px solid;   
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg1 .tableBody {
    border-color: inherit;
    vertical-align: middle
  }

  .tg1 .tableHead {
    background-color: #82cfc4a6;
    border-color: inherit;
    text-align: center;
    vertical-align: middle
  }
 
  /********** RENTALS STYLING *********/

  .responsiveGallery{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .responsiveGallery img{
    max-width: 80%;
  }

}