@media only screen and (min-width: 700px) {
  body div{
    display: grid;
    grid-template-columns: 20% 80%;
  }

  main div {
    display: inline;
    font-size: 1em;    
  }
  
  nav ul li a{
    font-size: 1em;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2{
    font-size: 1.4rem;
  }

  p {
    font-size: 1em;  
  }  

  img {
    margin-top: 0;
    padding-top: 3em;
    max-width: 180px;
  }
 
}